<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>We Care Foundation</title>
		<!--Font Styles-->
		
        <!--bootstrap framework-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<!-- external CSS link -->
		<!--<link rel="stylesheet" href="css/normalize.css">-->
		<!--<link rel="stylesheet" href="css/reset.css">-->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!--NavBar-->
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
			<div class="container">
				<a href="#" class="navbar-brand text-danger">We Care</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navmenu">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a href="#menuOne" class="nav-link">Mentor</a>
						</li>
						<li class="nav-item">
							<a href="#menuTwo" class="nav-link">Mentee</a>
						</li>
						<li class="nav-item">
							<a href="#menuThree" class="nav-link">Frequently Asked Questions</a>
						</li>
						<li class="nav-item">
							<a href="/login" class="nav-link">Login</a>
						</li>
					</ul>
				</div>
			</div>	
		</nav>
	
		<!--Showcase-->
		<section class="bg-dark text-light p-5 p-lg-0 text-center text-sm-start">
			<div class="container">
				<div class="d-sm-flex align-items-center justify-content-between">
					<div>
						<h1>Become a <span class="text-warning">Mentor</span></h1>
						<p class="lead my-4">
							Are you ready to make a <span class="text-danger">difference</span> in someone's life?
						</p>
						<p class="lead my-4">
							<span class="text-warning">Our Mission Statement: </span>To enhance the resiliency of youth in underrepresented communities and foster their ability to make positive life choices.
						</p>
						<a href="/signup"><button class="btn btn-primary btn-lg">Start The Enrollment</button></a>
					</div>
					<img class="img-fluid w-50 d-none d-sm-block" src="imgs/logo.svg" alt="logo">
				</div>
			</div>
		</section>

		<!--Newsletter-->
		<section class="bg-primary text-light p-5">
			<div class="container">
				<div class="d-md-flex justify-content-between align-items-center">
					<h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>

					<div class="input-group news-input">
						<input type="text" class="form-control" placeholder="Enter Email" />
						<button class="btn btn-dark btn-lg" type="button">Submit</button>
					  </div>
				</div>
			</div>
		</section>

		<!--Boxes-->
		<!-- <section class="p-5">
			<div class="container">
				<div class="row text-center g-3">
					<div class="col-md">
						<div class="card bg-dark text-light">
							<div class="card-body text-center">
								<div class="h1 mb-3">
									<i class="bi bi-people"></i>
								</div>
								<h3 class="card-title md-3">
									Mentor
								</h3>
								<p class="card-text">
									It is necessary for the survivability of technology itself, that every culture be afforded a part to play in this great build. Mentorship builds sustainable long-term success.
									<br>
									<br>
									Whether through speaking, educating, or advising, there’s a way for you to give back.
									<br>
									<br>
									One person can make a difference. Commit to share best practices, offer support, and spark imagination about what’s possible. Fulfill your desire to make an impact.
								</p>
								<a href="/signup" class="btn btn-primary">Become a Mentor</a>
							</div>
						</div>
					</div>
					<div class="col-md">
						<div class="card bg-secondary text-light">
							<div class="card-body text-center">
								<div class="h1 mb-3">
									<i class="bi bi-person-square"></i>
								</div>
								<h3 class="card-title md-3">
									Mentee
								</h3>
								<p class="card-text">
									The way to begin. The way forward. From adolescence, teens and onward to adulthood; the approach to career and entrepreneurship path is long, necessary and enduring. Giving each Mentee an experienced Mentor to help along the way.
									<br>
									<br>
									Our program is about educating Mentees and demonstrating new and advanced technologies that youth and adults can actualize, understand and know that they’re the builders of today and the future.
								</p>
								<a href="/signup" class="btn btn-dark">Become a Mentee</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

		<!--Learn Sections-->
		<section id="menuOne" class="p-5">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-md">
						<img src="./imgs/mentor.jpg" class="img-fluid" alt="">
					</div>
					<div class="col-md p-5">
						<h2>Mentor</h2>
						<p class="lead">
							It is necessary for the survivability of technology itself, that every culture be afforded a part to play in this great build. Mentorship builds sustainable long-term success.
									<br>
									<br>
									Whether through speaking, educating, or advising, there’s a way for you to give back.
									<br>
									<br>
									One person can make a difference. Commit to share best practices, offer support, and spark imagination about what’s possible. Fulfill your desire to make an impact.
						</p>
						<!-- <p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem similique quod cum consequatur vitae earum quidem, veritatis nihil maiores eum dicta dignissimos ex et sunt pariatur rem a, voluptatum saepe?
						</p>
						<a href="#" class="btn btn-light mt-3">
							<i class="bi bi-chevron-right"></i> Read More
						</a> -->
					</div>
				</div>
			</div>
		</section>

		<section id="menuTwo" class="p-5 bg-dark text-light">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-md p-5">
						<h2>Mentee</h2>
						<p class="lead">
							The way to begin. The way forward. From adolescence, teens and onward to adulthood; the approach to career and entrepreneurship path is long, necessary and enduring. Giving each Mentee an experienced Mentor to help along the way.
							<br>
							<br>
							Our program is about educating Mentees and demonstrating new and advanced technologies that youth and adults can actualize, understand and know that they’re the builders of today and the future.
						</p>
						<!-- <p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem similique quod cum consequatur vitae earum quidem, veritatis nihil maiores eum dicta dignissimos ex et sunt pariatur rem a, voluptatum saepe?
						</p>
						<a href="#" class="btn btn-light mt-3">
							<i class="bi bi-chevron-right"></i> Read More
						</a> -->
					</div>
					<div class="col-md">
						<img src="./imgs/mentee.png" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</section>

		<!--Question Accordion-->
		<section id="menuThree" class="p-5">
			<div class="container">
				<h2 class="text-center mb-4">Frequently Asked Questions</h2>
				<div class="accordion accordion-flush" id="questions">

					<!--Item 1-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one" aria-expanded="false" aria-controls="flush-collapseOne">
							What Makes A Good Mentor?
						</button>
					  	</h2>
					  	<div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
							<div class="accordion-body">Before becoming a mentor, here are a few things to understand about the role of mentoring. Most of us have had a teacher, supervisor, or coach who has been a mentor to us and made a positive difference in our lives. Those people wore many hats, acting as delegators, role models, cheerleaders, policy enforcers, advocates, and friends. Mentors assume these different roles during the course of a relationship.</div>
					 	</div>
					</div>

					<!--Item 2-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two" aria-expanded="false" aria-controls="flush-collapseOne">
							The second question
						</button>
					  	</h2>
					  	<div id="question-two" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
							<div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet libero ipsa ea nam non fuga ipsam quis optio totam consectetur illum corporis similique labore vitae impedit, magni voluptatum voluptates ullam! Culpa odit a ex sapiente exercitationem quis esse animi est. Omnis earum dolor quaerat quibusdam ut quas doloremque impedit sapiente.</div>
					 	</div>
					</div>

					<!--Item 3-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three" aria-expanded="false" aria-controls="flush-collapseOne">
							The third question
						</button>
					  	</h2>
					  	<div id="question-three" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
							<div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet libero ipsa ea nam non fuga ipsam quis optio totam consectetur illum corporis similique labore vitae impedit, magni voluptatum voluptates ullam! Culpa odit a ex sapiente exercitationem quis esse animi est. Omnis earum dolor quaerat quibusdam ut quas doloremque impedit sapiente.</div>
					 	</div>
					</div>
				</div>
			</div>
		</section>

		<!--Footer-->
		<footer class="p-5 bg-dark text-white text-center position-relative">
			<div class="container">
				<p class="lead">Copyright &copy; 2021 We Care Foundation</p>
				<a href="#" class="position-absolute bottom-0 end-0 p-5">
					<i class="bi bi-arrow-up-circle h1"></i>
				</a>
			</div>
		</footer>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/c0e668a8ad.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
